<div class="ly_journalEntry">
  <div class="bl_journalEntry">
    <% if @journal_entries.present? %>
      <%= render partial: "table", locals: { journal_entries: @journal_entries } %>
    <% end %>
  </div>
  <!-- /.bl_journalEntry -->
</div>
<!-- /.ly_journalEntry -->